<div class="fixed-top">
    <header class="topbar">
        <div class="container">
          <div class="row">
            <!-- social icon-->
            <div class="col-sm-12">
              <ul class="social-network">
                
                <li><a class="waves-effect waves-dark" href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="bi bi-twitter"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="bi bi-linkedin"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="bi bi-pinterest"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="bi bi-google"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="bi bi-instagram"></i></a></li>
              </ul>
            </div>
  
          </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
      <div class="container">
        
        <a class="navbar-brand mt-1" rel="nofollow" href="/" style="text-transform: uppercase;"> <h3>SEA-SENORA</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
  
          <ul class="navbar-nav ms-auto">
  
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['/']">Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/dashboard']" >Dashboard</a>
            </li>
  
            <li *ngIf="isAdmin()" class="nav-item">
              <a class="nav-link" [routerLink]="['/admin']">Admin</a>
            </li>
  
            
  
            <li *ngIf="isLoggedIn()" class="nav-item me-5">
              <a [routerLink]="['/user/bookings',userId]" class="nav-link" >MyBookings</a>
            </li>

            <li *ngIf="isLoggedIn()" class="nav-item">
              <a class="nav-link" > Welcome! {{ name }} </a>
            </li>
            <li *ngIf="!isLoggedIn()" class="nav-item me-2">
              <a role="button" [routerLink]="['/login']" class="btn btn-warning">Login</a>
            </li>
            
            <li *ngIf="!isLoggedIn()" class="nav-item">
              <a role="button" [routerLink]="['/signup']" class="btn btn-warning">SignUp</a>
            </li>

            <li *ngIf="isLoggedIn()" class="nav-item">
              <button (click)="signOut()" role="button"  class="btn btn-warning">SignOut</button>
            </li>

           

          </ul>
        </div>
      </div>
    </nav>
  </div>