<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row g-5 d-flex mt-5 p-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>Are you sure You want to Delete {{ boatName }} ? It will remove all the bookings too. </p>
            <button (click)="delete()" class="btn btn-danger ">Delete</button>
            <button (click)="cancel()"  class="btn btn-success m-3">Cancel</button>
        </div>
        <div class="com-md-2"></div>
        
    </div>

</div>
